h1 {

}

.container {
    margin: 0 auto;
    width: 500px;
    background-color: rgb(179, 183, 181);
}

.container_top {
    text-align: center;
}

.input_field {
    width: 300px;
}

.input_btn {

}

.items_container {
    background-color: violet;
    padding: 20px;
}

.item {
    margin-top: 15px;
    border: 1px solid black;
    background-color:bisque;
    display: flex;
    height: 40px;
}

.delete_btn {
    
}